$color-white: #ffffff;
$color-red: #f77462;
$color-blue: #6dc5dd;
$color-dark-blue: #003d48;
$color-grey1: #787878;
$color-grey2: #8c9193;
$color-grey3: #8b8b8b;
$color-light-grey: #ececec;

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
	width: 1170px;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	// border: 1px solid black;
}

.header {
	height: 99px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	&__logo {
		margin-left: 29px;
	}
}
@media screen and (max-width: 375px) {
	.page {
		width: 375px;
	}
	.header {
		width: 375px;
		&__logo {
			margin-left: 10px;
		}
	}
	.nav {
		display: none;
	}
}
.nav {
	width: max-content;
	&__item {
		position: relative;
		padding: 0 10px;
		font-weight: bold;
		font-size: 14px;
		color: black;
		text-decoration: none;
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			height: 20px;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			color: $color-grey3;
			background-color: black;
		}
		&:last-child:before {
			display: none;
		}
	}
}
.description {
	background: linear-gradient(#e7e7e7, $color-white);
	display: flex;
	justify-content: flex-start;
	min-height: 400px;
	margin: 0 auto;
	&__image {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		margin-right: 105px;
		margin-left: 100px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		margin-top: 91px;
		&-header {
			font-size: 31px;
			font-weight: 300;
			&_bold {
				font-size: 43px;
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 15px;
			}
		}
		&-text {
			color: $color-grey3;
			font-size: 18px;
			width: 422px;
			margin-top: 39px;
		}
	}
}
.button {
	width: 129px;
	height: 44px;
	padding: 16px 22px 16px 23px;
	border-radius: 3px;
	background-color: $color-red;
	color: $color-white;
	border: none;
	text-transform: uppercase;
	margin-top: 36px;
	&_small {
		font-size: 12px;
		margin-top: 24px;
		width: 70px;
		height: 38px;
		padding: 14px 17px;
	}
}
@media screen and (max-width: 375px) {
	.description {
		width: 375px;
		display: flex;
		flex-direction: column;
		margin: 0;
		&__image {
			margin-left: -40px;
		}
		&__content {
			display: flex;
			flex-direction: column;
			text-align: center;
			margin-top: 50px;
			&-text {
				width: 375px;
				margin-top: 30px;
			}
		}
	}
	.button {
		margin: 36px auto 20px;
	}
}
.services {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	min-height: 270px;
	background-color: $color-blue;
	padding-top: 61px;
	padding-right: 44px;
	&__item {
		display: flex;
		&-img {
			@extend %align-center;
			width: 63px;
			height: 63px;
			border-radius: 50%;
			background: $color-white;
			margin-left: 30px;
			margin-right: 27px;
		}
		&-content {
			color: $color-white;
		}
		&-title {
			font-size: 20px;
			margin-bottom: 30px;
			font-weight: 700;
		}
		&-text {
			width: 235px;
			height: 62px;
			margin-bottom: 27px;
		}
		&-link {
			display: flex;
			align-items: center;
			font-weight: 700;
		}
	}
}
@media screen and (max-width: 375px) {
    .services {
		margin: 0;
		padding: 0;
		width: 375px;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 270px;
		&__item {
			display: flex;
			justify-content: center;
			flex-direction: column;
			margin: 20px 0;
			&-img {
				display: flex;
    			justify-content: center;
    			align-items: center;				
				margin: 10px auto;
			}
		}
	}
   }
.right-arrow {
	@extend %align-center;
	background: $color-white;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	margin-left: 11px;
	&__img {
		width: 10px;
	}
}
.team {
	display: flex;
	box-sizing: border-box;
	padding-top: 60px;
	min-height: 530px;
	&__item {
		display: flex;
		margin: 0 33px 60px 30px;
		&-photo {
			margin-right: 30px;
		}
		&-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&-title {
			color: $color-dark-blue;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 23px;
		}
		&-text {
			width: 519px;
			height: 86px;
			color: $color-grey2;
			font-size: 15px;
			line-height: 22px;
		}
	}
	&__achievements {
		box-sizing: border-box;
		width: 340px;
		height: 431px;
		&-toggle {
			display: flex;
			align-items: flex-end;
			&-item {
				width: 100px;
				height: 42px;
				border: 2px solid $color-light-grey;
				background: $color-white;
				color: $color-grey1;
				font-size: 16px;
				font-weight: 700;
				border-radius: 6px;
				line-height: 42px;
				text-align: center;
				&_selected {
					color: $color-red;
					background: $color-dark-blue;
					margin-right: 10px;
					border-color: $color-dark-blue;
					border-radius: 6px 6px 0 0;
				}
			}
		}
		&-description {
			height: 154px;
			width: 340px;
			background: $color-dark-blue;
			box-sizing: border-box;
			padding: 20px 35px 28px 34px;
		}
		&-title {
			color: $color-blue;
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 16px;
		}
		&-text {
			width: 271px;
			color: $color-white;
			font-size: 15px;
			line-height: 24px;
		}
		&-list {
			height: 240px;
			border: 2px solid $color-light-grey;
			border-radius: 0 0 6px 6px;
			box-sizing: border-box;
			padding: 40px 20px;
			&-item {
				border-bottom: 2px solid $color-light-grey;
				padding: 8px 5px;
				&-img {
					width: 14px;
				}
			}
		}
	}
}
@media screen and (max-width: 375px) {
	.team {
		width: 375px;
		display: flex;
		flex-direction: column;
		align-content: center;
		&__item {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 10px;
			&-text {
				width: 375px;
			}
		}
		&__achievements {
			width: 350px;
			margin: 0 auto;
		}
	}

}
.advertising {
	box-sizing: border-box;
	min-height: 206px;
	background: $color-red;
	text-align: center;
	padding-top: 60px;
	color: $color-white;
	&__title {
		font-size: 32px;
		line-height: 29px;
		font-weight: 700;
		margin-bottom: 22px;
	}
	&__text {
		width: 653px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 29px;
		font-weight: 300;
	}
}
@media screen and (max-width: 375px) {
	.advertising {
		width: 375px;
		margin-top: 20px;
		padding-top: 30px;
		&__text {
			width: 375px;
			margin: 0 auto;
			font-size: 18px;
			line-height: 29px;
			font-weight: 300;
		}
	}
}
.portfolio {
	min-height: 648px;
	box-sizing: border-box;
	padding: 60px 30px 0 30px;
	&__title {
		color: $color-dark-blue;
		text-align: center;
		font-size: 32px;
		font-weight: 700;
		line-height: 29px;
	}
	&__sub-title {
		margin: 30px auto 40px;
		color: $color-blue;
		font-size: 22px;
		line-height: 29px;
		text-align: center;
		font-weight: 300;
		padding: 16px 0 14px 0;
		border-top: 1px solid $color-light-grey;
		border-bottom: 1px solid $color-light-grey;
	}
	&__content {
		display: flex;
	}
	&__items {
		&-reviews {
			margin-left: 50px;
		}
	}
	&__item {
		display: flex;
		margin-bottom: 56px;
		&-title {
			color: $color-dark-blue;
			font-size: 16px;
			font-weight: 700;
		}
		&-comments {
			color: $color-red;
			font-size: 14px;
			font-weight: 300;
			margin: 8px 0 11px;
		}
		&-text {
			width: 395px;
			min-height: 38px;
			font-size: 15px;
			line-height: 24px;
			color: $color-grey1;
			&-arrow {
				width: 13px;
				height: 13px;
				border-radius: 50%;
			}
		}
		&-review {
			display: flex;
			background: $color-light-grey;
			box-sizing: border-box;
			height: 173px;
			width: 540px;
			padding: 34px 30px 33px;
			margin-bottom: 40px;
			&-text {
				width: 333px;
				height: 62px;
				color: $color-grey2;
				font-size: 15px;
				line-height: 24px;
			}
			&-img-bg {
				@extend %align-center;
				height: 106px;
				width: 106px;
				border-radius: 50%;
				background: $color-white;
				margin-left: 41px;
			}
		}
		&-reviewer-name {
			color: $color-red;
			font-size: 16px;
			line-height: 29px;
			font-weight: 700;
			margin-top: 19px;
		}
	}
	&__date {
		width: 70px;
		margin-right: 29px;
		&-top {
			height: 42px;
			border-radius: 3px;
			background-color: $color-blue;
			color: $color-white;
			font-size: 35px;
			line-height: 24px;
			font-weight: 700;
			@extend %align-center;
		}
		&-line {
			height: 1px;
		}
		&_bottom {
			height: 25px;
			font-size: 17px;
			line-height: 28px;
		}
	}
}
@media screen and (max-width: 375px) {
	.portfolio {
		width: 375px;
		padding: 0;
		&__title {
			margin-top: 30px;
		}
		&__content {
			display: flex;
			flex-direction: column;
		}
		&__items {
			&-reviews {
				margin: 0;
			}
		}
		&__item {
			&-review {
				width: 375px;
				&-img-bg {
					display: none;
				}
			}
			&-description {
				width: 365px;
				padding: 10px;
				margin: 0auto;
			}
			&-text {
				width: 365px;
			}
		}
		&__date {
			display: none;
		}
	}
}
.footer {
	min-height: 324px;
	box-sizing: border-box;
	background: $color-blue;
	padding: 60px 30px 48px;
	color: $color-white;
	&__items {
		display: flex;
		justify-content: space-between;
		margin-bottom: 61px;
	}
	&__item-title {
		font-size: 20px;
		letter-spacing: 0.8px;
		font-weight: 700;
		margin-bottom: 21px;
	}
	&__item-text {
		font-size: 14px;
		line-height: 27px;
		letter-spacing: 0.56px;
		font-weight: 400;
	}
	&__line {
		height: 1px;
		background: $color-white;
		opacity: 0.34;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 43px 0 0;
		&-social-icons {
			display: flex;
		}
		&-social-icon-item-bg {
			@extend %align-center;
			width: 33px;
			height: 33px;
			background: $color-white;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}
@media screen and (max-width: 375px) {
	.footer {
		width: 375px;
		min-height: auto;
		&__items {
			display: none;
		}
		&__info {
			display: flex;
			flex-direction: column;
			margin: 0;
		}
		&__info-text {
			margin: 20px 0;
		}
	}
}
